-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: student_attendance_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `devices`
--

DROP TABLE IF EXISTS `devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `devices` (
  `device_id` int NOT NULL AUTO_INCREMENT,
  `device_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `device_type` enum('QR_SCANNER') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'QR_SCANNER',
  `location` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('active','inactive','maintenance') COLLATE utf8mb4_unicode_ci DEFAULT 'active',
  `last_active` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`device_id`),
  KEY `idx_device_type` (`device_type`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devices`
--

LOCK TABLES `devices` WRITE;
/*!40000 ALTER TABLE `devices` DISABLE KEYS */;
INSERT INTO `devices` VALUES (1,'QR Scanner 01','QR_SCANNER','Main Entrance','active','2025-11-19 16:21:21','2025-11-19 04:42:26'),(2,'QR Scanner 02','QR_SCANNER','Library','active',NULL,'2025-11-19 04:42:26');
/*!40000 ALTER TABLE `devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scan_history`
--

DROP TABLE IF EXISTS `scan_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scan_history` (
  `scan_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `device_id` int DEFAULT NULL,
  `scan_type` enum('QR','MANUAL') COLLATE utf8mb4_unicode_ci DEFAULT 'QR',
  `scan_data` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `scan_datetime` datetime DEFAULT CURRENT_TIMESTAMP,
  `time_out` datetime DEFAULT NULL,
  `scan_purpose` enum('attendance','identification','verification') COLLATE utf8mb4_unicode_ci DEFAULT 'attendance',
  `location` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('success','failed','duplicate') COLLATE utf8mb4_unicode_ci DEFAULT 'success',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`scan_id`),
  KEY `idx_student_scan` (`student_id`,`scan_datetime`),
  KEY `idx_device_scan` (`device_id`,`scan_datetime`),
  KEY `idx_scan_date` (`scan_datetime`),
  KEY `idx_scan_type` (`scan_type`),
  KEY `idx_status` (`status`),
  KEY `idx_scan_student_date` (`student_id`,`scan_datetime`,`status`),
  CONSTRAINT `scan_history_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`) ON DELETE CASCADE,
  CONSTRAINT `scan_history_ibfk_2` FOREIGN KEY (`device_id`) REFERENCES `devices` (`device_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scan_history`
--

LOCK TABLES `scan_history` WRITE;
/*!40000 ALTER TABLE `scan_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `scan_history` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_update_device_active` AFTER INSERT ON `scan_history` FOR EACH ROW BEGIN
    UPDATE devices
    SET last_active = NOW()
    WHERE device_id = NEW.device_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `student_id` int NOT NULL AUTO_INCREMENT,
  `student_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `middle_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `year_level` enum('1','2','3','4','Graduate') COLLATE utf8mb4_unicode_ci NOT NULL,
  `program` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `section` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qr_code_data` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `photo_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('Active','Inactive','Suspended') COLLATE utf8mb4_unicode_ci DEFAULT 'Active',
  `enrollment_date` date NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`student_id`),
  UNIQUE KEY `student_number` (`student_number`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_student_number` (`student_number`),
  KEY `idx_qr_code` (`qr_code_data`(255)),
  KEY `idx_name` (`last_name`,`first_name`),
  KEY `idx_email` (`email`),
  KEY `idx_status` (`status`),
  KEY `idx_student_program_year` (`program`,`year_level`,`status`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_student_update_log` AFTER UPDATE ON `students` FOR EACH ROW BEGIN
    IF OLD.status != NEW.status THEN
        INSERT INTO system_logs (action, table_name, record_id, old_value, new_value)
        VALUES (
            'UPDATE',
            'students',
            NEW.student_id,
            CONCAT('Status: ', OLD.status),
            CONCAT('Status: ', NEW.status)
        );
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_student_delete_log` BEFORE DELETE ON `students` FOR EACH ROW BEGIN
    INSERT INTO system_logs (action, table_name, record_id, old_value)
    VALUES (
        'DELETE',
        'students',
        OLD.student_id,
        CONCAT('Student: ', OLD.student_number, ' - ', OLD.first_name, ' ', OLD.last_name)
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `system_logs`
--

DROP TABLE IF EXISTS `system_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_logs` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `action` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `table_name` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `record_id` int DEFAULT NULL,
  `old_value` text COLLATE utf8mb4_unicode_ci,
  `new_value` text COLLATE utf8mb4_unicode_ci,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `timestamp` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `idx_user_log` (`user_id`,`timestamp`),
  KEY `idx_action` (`action`),
  KEY `idx_timestamp` (`timestamp`),
  CONSTRAINT `system_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_logs`
--

LOCK TABLES `system_logs` WRITE;
/*!40000 ALTER TABLE `system_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_settings` (
  `setting_id` int NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `setting_value` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `setting_category` enum('Scanner','System','Database','UI') COLLATE utf8mb4_unicode_ci DEFAULT 'System',
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_by` int DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`setting_id`),
  UNIQUE KEY `setting_key` (`setting_key`),
  KEY `updated_by` (`updated_by`),
  KEY `idx_setting_key` (`setting_key`),
  KEY `idx_category` (`setting_category`),
  CONSTRAINT `system_settings_ibfk_1` FOREIGN KEY (`updated_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tokens`
--

DROP TABLE IF EXISTS `tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tokens` (
  `token_id` int NOT NULL AUTO_INCREMENT,
  `student_id` int NOT NULL,
  `token_type` enum('QR') COLLATE utf8mb4_unicode_ci DEFAULT 'QR',
  `token_value` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `issue_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `expiry_date` date DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `revocation_reason` text COLLATE utf8mb4_unicode_ci,
  `revoked_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`token_id`),
  KEY `idx_token_value` (`token_value`(255)),
  KEY `idx_student_token` (`student_id`),
  KEY `idx_active_tokens` (`is_active`,`expiry_date`),
  CONSTRAINT `tokens_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tokens`
--

LOCK TABLES `tokens` WRITE;
/*!40000 ALTER TABLE `tokens` DISABLE KEYS */;
INSERT INTO `tokens` VALUES (1,6,'QR','STUDENT-2300401','2025-11-19 05:35:43',NULL,1,NULL,NULL),(2,7,'QR','STUDENT-2300402','2025-11-19 05:37:19',NULL,1,NULL,NULL),(3,8,'QR','STUDENT-2300404','2025-11-19 15:54:46',NULL,1,NULL,NULL),(4,9,'QR','STUDENT-2300405','2025-11-19 16:20:18',NULL,1,NULL,NULL);
/*!40000 ALTER TABLE `tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` enum('admin','staff','teacher') COLLATE utf8mb4_unicode_ci DEFAULT 'staff',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_login` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_username` (`username`),
  KEY `idx_email` (`email`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (2,'staff1','TEMP_HASH_REPLACE_ON_FIRST_RUN','John Staff','staff@school.edu','staff',1,'2025-11-19 04:42:26',NULL),(4,'teacher','$2a$11$K8YfJ6M8xQB.4sXjB.vVV.8q8YMz5Z3J8Z8Z8Z8Z8Z8Z8Z8Z8Z8Z8u','Teacher Account','teacher@studentattendance.edu','teacher',1,'2025-11-19 04:55:18',NULL),(5,'staff','$2a$11$L9ZgK7N9yRC.5tYkC.wWW.9r9ZNa6a4K9a9a9a9a9a9a9a9a9a9a9v','Staff Account','staff@studentattendance.edu','staff',1,'2025-11-19 04:55:18',NULL),(6,'admin','admin123','System Administrator','admin@studentattendance.edu','admin',1,'2025-11-19 05:05:14','2025-11-19 16:19:20');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_active_students`
--

DROP TABLE IF EXISTS `vw_active_students`;
/*!50001 DROP VIEW IF EXISTS `vw_active_students`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_active_students` AS SELECT 
 1 AS `student_id`,
 1 AS `student_number`,
 1 AS `full_name`,
 1 AS `email`,
 1 AS `phone`,
 1 AS `year_level`,
 1 AS `program`,
 1 AS `section`,
 1 AS `status`,
 1 AS `enrollment_date`,
 1 AS `active_tokens`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_device_stats`
--

DROP TABLE IF EXISTS `vw_device_stats`;
/*!50001 DROP VIEW IF EXISTS `vw_device_stats`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_device_stats` AS SELECT 
 1 AS `device_id`,
 1 AS `device_name`,
 1 AS `device_type`,
 1 AS `location`,
 1 AS `status`,
 1 AS `total_scans`,
 1 AS `last_scan`,
 1 AS `scans_today`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_recent_scans`
--

DROP TABLE IF EXISTS `vw_recent_scans`;
/*!50001 DROP VIEW IF EXISTS `vw_recent_scans`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_recent_scans` AS SELECT 
 1 AS `scan_id`,
 1 AS `student_number`,
 1 AS `student_name`,
 1 AS `scan_type`,
 1 AS `time_in`,
 1 AS `time_out`,
 1 AS `location`,
 1 AS `status`,
 1 AS `device_name`,
 1 AS `attendance_status`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_student_scan_stats`
--

DROP TABLE IF EXISTS `vw_student_scan_stats`;
/*!50001 DROP VIEW IF EXISTS `vw_student_scan_stats`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_student_scan_stats` AS SELECT 
 1 AS `student_id`,
 1 AS `student_number`,
 1 AS `student_name`,
 1 AS `program`,
 1 AS `year_level`,
 1 AS `total_scans`,
 1 AS `last_scan`,
 1 AS `first_scan`,
 1 AS `scans_today`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_active_students`
--

/*!50001 DROP VIEW IF EXISTS `vw_active_students`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_active_students` AS select `s`.`student_id` AS `student_id`,`s`.`student_number` AS `student_number`,concat(`s`.`first_name`,' ',ifnull(`s`.`middle_name`,''),' ',`s`.`last_name`) AS `full_name`,`s`.`email` AS `email`,`s`.`phone` AS `phone`,`s`.`year_level` AS `year_level`,`s`.`program` AS `program`,`s`.`section` AS `section`,`s`.`status` AS `status`,`s`.`enrollment_date` AS `enrollment_date`,count(`t`.`token_id`) AS `active_tokens` from (`students` `s` left join `tokens` `t` on(((`s`.`student_id` = `t`.`student_id`) and (`t`.`is_active` = true)))) where (`s`.`status` = 'Active') group by `s`.`student_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_device_stats`
--

/*!50001 DROP VIEW IF EXISTS `vw_device_stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_device_stats` AS select `d`.`device_id` AS `device_id`,`d`.`device_name` AS `device_name`,`d`.`device_type` AS `device_type`,`d`.`location` AS `location`,`d`.`status` AS `status`,count(`sh`.`scan_id`) AS `total_scans`,max(`sh`.`scan_datetime`) AS `last_scan`,sum((case when (cast(`sh`.`scan_datetime` as date) = curdate()) then 1 else 0 end)) AS `scans_today` from (`devices` `d` left join `scan_history` `sh` on((`d`.`device_id` = `sh`.`device_id`))) group by `d`.`device_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_recent_scans`
--

/*!50001 DROP VIEW IF EXISTS `vw_recent_scans`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_recent_scans` AS select `sh`.`scan_id` AS `scan_id`,`s`.`student_number` AS `student_number`,concat(`s`.`first_name`,' ',`s`.`last_name`) AS `student_name`,`sh`.`scan_type` AS `scan_type`,`sh`.`scan_datetime` AS `time_in`,`sh`.`time_out` AS `time_out`,`sh`.`location` AS `location`,`sh`.`status` AS `status`,`d`.`device_name` AS `device_name`,(case when (`sh`.`time_out` is not null) then 'completed' when ((`sh`.`time_out` is null) and (`sh`.`scan_datetime` >= curdate())) then 'pending_out' else 'incomplete' end) AS `attendance_status` from ((`scan_history` `sh` join `students` `s` on((`sh`.`student_id` = `s`.`student_id`))) join `devices` `d` on((`sh`.`device_id` = `d`.`device_id`))) order by `sh`.`scan_datetime` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_student_scan_stats`
--

/*!50001 DROP VIEW IF EXISTS `vw_student_scan_stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_student_scan_stats` AS select `s`.`student_id` AS `student_id`,`s`.`student_number` AS `student_number`,concat(`s`.`first_name`,' ',`s`.`last_name`) AS `student_name`,`s`.`program` AS `program`,`s`.`year_level` AS `year_level`,count(`sh`.`scan_id`) AS `total_scans`,max(`sh`.`scan_datetime`) AS `last_scan`,min(`sh`.`scan_datetime`) AS `first_scan`,sum((case when (cast(`sh`.`scan_datetime` as date) = curdate()) then 1 else 0 end)) AS `scans_today` from (`students` `s` left join `scan_history` `sh` on((`s`.`student_id` = `sh`.`student_id`))) where (`s`.`status` = 'Active') group by `s`.`student_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-20  0:25:32
